:root {
  --main-font: 'Roboto', sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --background-color-footer: #2f303a;
  --color-white: #fff;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  color: var(--primary-text-color);
  background-color: var(--color-white);
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
address {
  font-style: normal;
}

.link {
  text-decoration: none;
  color: inherit;
}
.item {
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* button {
  font-family: inherit;
  cursor: pointer;
}  */
/*________-____header______________--- */
.page__header {
  border-bottom: 1px solid #ececec;
}

.flex-container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}
/* header a {
  padding: 25px 0px 25px 0px;
} */
.header-contact {
  display: flex;
  margin-left: auto;
}
.nav__list .item:not(:last-child),
.header-contact .item:not(:last-child) {
  margin-right: 50px;
}
.nav .logo__link {
  margin-right: 93px;
}

.logo__link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
}
.logo__style {
  color: var(--accent-color);
}

.nav__list {
  display: flex;
  align-items: center;
}
.nav__link {
  padding: 32px 0px;

  display: inline-block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
}
.contact-mail,
.contact-phone-number {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* --------- */
.contact-item:not(:last-child) {
  margin-right: 30px;
}
.contact-icon {
  fill: currentColor;
  margin-right: 10px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* --------- */
.contact-mail:hover,
.contact-mail:focus,
.contact-phone-number:hover,
.contact-phone-number:focus,
.contacts-address-link:hover,
.contacts-address-link:focus,
.contact-icon:hover,
.contact-icon:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
  position: relative;
}
.current::before {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/* -------index----------------------------- */

/* ----page--- */
.page {
  max-width: 1600px;
  min-height: 600px;
  margin: 0 auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../imeges/header-img.jpg');
  background-repeat: no-repeat;
  background-color: rgba(47, 48, 58, 0.4);
  background-position: center;
  background-size: cover;

  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.page__title {
  max-width: 696px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);

  margin-bottom: 30px;
}
.button {
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  display: inline-block;
  text-align: center;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  cursor: pointer;
  border: transparent;

  color: var(--color-white);
  background-color: var(--accent-color);

  transition-property: color, background-color;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  color: var(--accent-color);
  background-color: var(--color-white);
}
/* -----------feature---- */
.feature {
  padding-bottom: 0;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.feature-items {
  display: flex;
}
.feature-item {
  width: 270px;
}
.feature-items .item:not(:last-child) {
  margin-right: 30px;
}
.feature-item-icon {
  display: flex;
  justify-content: center;
  background-color: #f5f4fa;
  height: 120px;
  width: 270px;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
}
.feature-item-icon svg {
  display: block;
}

.feature-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.feature__text {
  line-height: 1.71;
  color: var(--secondary-text-color);
}
/* ------make------------------------------------------- */

.make-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.make-items {
  display: flex;
}
.make-items .item:not(:last-child) {
  margin-right: 30px;
}
.make-item {
  position: relative;
}

.make-item > .label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 1.14;

  text-transform: uppercase;
  color: #ffffff;
}
/* ----team--------------------------------------- */
.team {
  background-color: #f5f4fa;
}
.team-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.team-cards {
  display: flex;
}
.team-cards .item:not(:last-child) {
  margin-right: 30px;
}
.team-card {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card-content {
  margin-top: 30px;
  margin-bottom: 16px;
}
.team-card-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team-card-text {
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-text-color);
  text-align: center;
}

/* social-wrapper------------- */
.social-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  border-radius: 50%;
  cursor: pointer;

  transition-property: color, background-color;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:active {
  background-color: var(--accent-color);
  color: #ffffff;
}
.social-icon {
  fill: currentColor;
}

/* -----------clients--------- */

.clients-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: #212121;
}
.clients-item {
  display: flex;
  gap: 30px;
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  cursor: pointer;

  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* ----------------portfolio-----------------------------------*/

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter .item:not(:last-child) {
  margin-right: 8px;
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--color-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-item-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item-link:hover,
.portfolio-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filter-button {
  font-family: inherit;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;

  background-color: #f5f4fa;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  padding: 6px 22px;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms, 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* ----------------------- */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-list > .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.card-content {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.portfolio-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: inherit;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.875;
  color: var(--secondary-text-color);
}
/* portfolio-hover-text---overlay-- */
.portfolio--overlay {
  position: relative;
  overflow: hidden;
}
.portfolio--overlay::before {
  display: inline-block;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms linear;
}
.overlay--text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #fff;

  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms linear;
}
.portfolio-item-link:hover .portfolio--overlay::before {
  transform: translateY(0);
}
.portfolio-item-link:hover .overlay--text {
  transform: translateY(0);
}
/* -----------footer---------------------------------------------- */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color-footer);
  color: var(--color-white);
}
.footer .link {
  display: inline-block;
}
.foter-contact > .link {
  margin-bottom: 20px;
}
.address {
  font-style: normal;
  width: 231px;
}
.contacts-address-link {
  margin-bottom: 9px;
  line-height: calc(24 / 14);
  color: var(--color-white);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-mail {
  margin-bottom: 9px;
}

/* social-------------- */

.footer-icon {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.foter-title {
  display: inline-block;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 20px;
}
.footer-flex {
  display: flex;
  align-items: baseline;
}
.foter-contact {
  margin-right: 70px;
}
.footer-social > .social-wrapper {
  margin-bottom: 0;
}
/* -----------sabscribe--input---footer----------------------------------- */
.footer-sabscribe {
  display: block;
  margin-left: auto;
}
.sabscribe {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--background-color-footer);
  color: #fff;
  margin-right: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 15px;
  font-size: 16px;
  line-height: 1.2;
}

.button--subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 28px;
}
.icon-send {
  margin-left: 10px;
  fill: currentColor;
}
.icon-send:hover {
  fill: var(--accent-color);
}

/* -----------------backdrop------------ */
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 300ms linear, visibility 300ms linear;
}
/* кінцевий стан */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform 300ms linear;
}
/* початковий */
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}
.modal-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  transition: border 350ms linear;
  right: 12px;
  top: 10px;

  cursor: pointer;
}
.modal-btn:hover,
.modal-btn:focus {
  border: 1px solid rgba(33, 150, 243, 0.8);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/* хрестик_____кнопка закриття___ */
.close {
  position: absolute;
  top: 6px;
  left: 5px;
  transition: fill 250ms linear;
}
.modal-btn:hover,
.modal-btn:focus .close {
  fill: var(--accent-color);
}

/* modal--forma */

.modal--form {
  padding: 40px;
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}
.modal_form {
}
textarea {
  resize: none;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  padding: 12px 16px;
  transition: border-color 250ms linear;
  cursor: pointer;
}

textarea:focus,
textarea:hover {
  border-color: var(--accent-color);
}

.form-label {
  display: block;
  margin-bottom: 4px;
  color: #757575;
}

.form-input {
  margin: 0;
  width: 100%;
  height: 40px;
  padding-left: 42px;

  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 10px;
  outline: none;
  transition: border-color 250ms linear;
  cursor: pointer;
}

.form-field {
  position: relative;
  color: #212121;
}

.form-field:nth-child(4) {
  margin-bottom: 20px;
}
.form-field:nth-child(5) {
  margin-bottom: 30px;
}
.modal-icon use {
}

.modal-icon {
  position: absolute;
  top: 31px;
  left: 15px;

  fill: currentColor;
  transition: fill 250ms linear;
}

.form-input:hover ~ .modal-icon,
.form-input:focus ~ .modal-icon {
  fill: var(--accent-color);
}
.form-input:hover,
.form-input:focus {
  border-color: var(--accent-color);
}
.modal-button {
  display: block;
  margin: 0 auto;
  outline: none;
}

.checkbox-icon {
  position: absolute;
  top: 3px;
  left: 11px;
  /* margin-top: 0em; */
  /* margin-left: 29em; */
  width: 1.14em;
  height: 1.07em;
  overflow: hidden;
  border-radius: 2px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 0 0 0 0.1em #212121;
}

.label-checkbox {
  display: flex;
  justify-content: center;
  vertical-align: baseline;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.checkbox {
  appearance: none;
  cursor: pointer;
}
.checkbox:hover ~ .checkbox-icon,
.checkbox:focus ~ .checkbox-icon {
  box-shadow: 0 0 0 0.1em var(--accent-color);
}

.checkbox:checked ~ .checkbox-icon {
  background-color: var(--accent-color);
  background-image: url(../imeges/icon-check.svg);
  box-shadow: 0 0 0 0.1em var(--accent-color);
}
.policy_link {
  padding-left: 5px;
  color: var(--accent-color);
  text-decoration: underline;
  outline: none;
}
.policy_link:hover,
.policy_link:focus {
}
